{% assign productList = Model.Data %}
{% assign culture = "vi-VN" %}
{% assign currencyFormat = "{0:c}" %}

{% if productList.Items.size > 0 %}
  <div class="w-full mx-auto xl:max-w-7xl overflow-hidden">
    <div class="flex flex-col items-center gap-10 pt-16 pb-36 px-4 md:px-6 md:pt-20 md:pb-40 xl:pb-[120px] lg:px-2 2xl:px-0">
      <div class="flex flex-col w-full gap-5 xl:gap-6">
        <div class="flex gap-4 items-center">
          <h1 class="text-heading-4 text-secondary-1 font-semibold md:text-heading-2">
            MỘT SỐ
            <span class="text-primary-1">
              SẢN PHẨM
            </span>
            NỔI BẬT
          </h1>
          <div class="border-t border-primary-1 flex-auto w-2/5 md:w-auto"></div>
        </div>
        <p class="text-neutral-1-900 text-body-1">Giữa vô vàn các sự lựa chọn, chúng tôi rất hy vọng và cám ơn sự lựa chọn của bạn.</p>
      </div>
      <div class="grid relative w-full gap-5 md:grid-cols-2 lg:grid-cols-4 xl:gap-y-7">
        <div class="top-[5%] -z-10 w-full absolute md:inset-auto md:top-[16%] xl:-right-[4%] xl:top-[12%]">
          <div class="w-[177%] md:w-11/12">
            <div class="relative w-full pt-[123%] xl:pt-[78%]">
              <img alt="{{ imageDecor | raw }}"src="{{ imageDecor }}"class="image-custom object-contain">
            </div>
          </div>
        </div>
        {{ 'Module__Shop_ProductListWrapper' | shape_new | shape_properties: Shape: 'FE__Shop_ProductList', Data: productList | shape_render }}

      </div>
      <button class="w-fit">
        {% a controller: "Shop", 
  route_action: "Index", 
  route_area: "TWeb.Products", 
  class: "flex items-center w-fit py-2 px-6 border border-primary-1 rounded-full gap-2.5 text-body-1 font-medium text-primary-1 btn-line" %}
          <span class="twi-17-arrow-outward-fill text-xl leading-none"></span>
          <span>Xem thêm</span>
        {% enda %}
      </button>
    </div>
  </div>
{% endif %}
