<div class="mx-auto w-full xl:max-w-7xl">
  <div class="flex flex-col gap-10 px-4 pt-64 pb-[88px] md:px-6 md:pt-[168px] md:pb-[100px] xl:px-2 xl:pt-48 xl:pb-20 xl:gap-16 2xl:px-0">
    <div class="flex flex-col gap-y-6 xl:flex-row reveal fadeInUp">
      <h2 class="text-heading-2 font-semibold text-secondary-1 xl:w-3/5">YÊU NÔNG NGHIỆP
        <span class="text-primary-1">THƯƠNG NÔNG DÂN</span>
      </h2>
      <p class="text-neutral-1-900 text-body-1 xl:w-2/5">Với phương châm “Yêu nông nghiệp, Thương nông dân”,
        Hữu Cơ Thuận Thiên đã không ngừng nỗ lực phát triển cả về nhân lực, vật lực, xây dựng uy tín thương
                        hiệu, niềm tin với nông dân nhằm trở thành người bạn đồng hành cùng nông dân phát triển một nền nông
                        nghiệp sạch và an toàn.</p>
    </div>
    <div class="flex flex-col gap-8 lg:flex-row reveal fadeInUp">
      <div class="w-full lg:w-1/2">
        <div class="relative w-full pt-[82%] md:pt-[40%] lg:pt-[56%]">
          <img
            class="image-custom rounded-br-[40px] rounded-tl-[40px] object-cover z-10"
            src="{{ ThemeSettings.introductionImageFirst.fullUrl }}"
            alt="{{ ThemeSettings.introductionImageFirst.name }}">
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="relative w-full pt-[82%] md:pt-[40%] lg:pt-[56%]">
          <img
            class="image-custom rounded-br-[40px] rounded-tl-[40px] object-cover z-10"
            src="{{ ThemeSettings.introductionImageSecond.fullUrl }}"
            alt="{{ ThemeSettings.introductionImageSecond.name }}">
        </div>
      </div>
    </div>
  </div>
</div>