<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
	
	{% link type:"image/x-icon", rel:"shortcut icon", href:ThemeSettings.favicon.fullUrl %}
	<link rel="stylesheet" href="https://static.tds-ui.public.dev.tmtco.org/assets/fonts/SVN-Avenir Next/style.css">
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
		/>
		{% render_section "MetaSEO", required: false %}
		{% render_section "Canonical", required: false %}
		{% style name: "icons-17", at: "Head" %}
		{% style name: "swiper", at:"Head" %}
		{% script name: "swiper", at:"Foot" %}
		{% script name: "reload-to-top", at:"Foot" %}
		{% script name: "reveal", at:"Foot" %}
		{% script name: "scroll-smooth", at:"Foot" %}
		{% script name: "jQuery", at:"Foot" %}
  		{% script name:"web-17-cart-ship", src:"http://localhost:1700/static/js/bundle.js", debug_src:"http://localhost:1700/static/js/bundle.js", at: "Foot" %}
		
  		{% resources type: "Meta" %}
		{% resources type: "HeadLink" %}
		{% resources type: "HeadScript" %}
		{% resources type: "Stylesheet" %}

		{% assign shellName = "" | shell_name %}
	   	<server href="{{ Site.BaseUrl }}" data-shell-name="{{ shellName }}" ></server> 

		{{ "Style" | shape_new | shape_render }}
   
</head>
<body class="font-SVN w-screen overflow-x-hidden">

	{% render_section "Header", required: false %}
	{% render_body %}
	
	<footer>
	{% render_section "Footer", required: false %}

	</footer>
	
	{% resources type: "FootScript" %}
	</body>
  
</html>
