<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://static.tds-ui.public.dev.tmtco.org/assets/fonts/SVN-Avenir Next/style.css">
        <link rel="shortcut icon" href="../img/header-footer/favicon.png" type="image/x-icon"/>
        <title>Thuận Thiên - 404</title>
    </head>
    <body class="font-SVN w-screen overflow-x-hidden">
        <header>
            <div id="header" class="bg-primary-1 fixed top-0 z-40 w-full">
                <div class="w-full mx-auto relative xl:max-w-7xl">
                    <div class="flex justify-between items-center h-20 p-4 md:px-6 lg:px-2 2xl:px-0">
                        <div id="logo" class="flex">
                            <a class="" href="index.html"><img class="w-[200px] h-12 object-contain" src="../img/header-footer/logo.png"></a>
                        </div>
                        <div class="flex gap-4 justify-end items-center">
                            <!-- Cấp 1 -->
                            <div class="menu-list_item hidden xl:flex">
                                <div class="flex"><a class="px-2 py-3.5 text-primary-1 xl:text-white xl:py-7 xl:px-6" href="index.html">Trang chủ</a></div>
                                <div class="flex"><a class="px-2 py-3.5 xl:hover:text-white xl:py-7 xl:px-6" href="introduction.html">Giới thiệu</a></div>
                                <!-- nếu chỉ có 1 cột thì dùng relative ở đây -->
                                <!-- <div class="wrapper-collapse flex flex-col group xl:relative xl:hover:text-white"> -->
                                <div class="wrapper-collapse flex flex-col group xl:hover:text-white">
                                    <div class="flex justify-between rounded-t-md items-center w-full">
                                        <a class="px-2 py-3.5 w-11/12 xl:py-7 xl:px-0" href="product.html">Sản phẩm</a>
                                        <span class="btn-collapse twi-17-arrow-down-line text-neutral-1-500 text-xl leading-none w-fit px-2 xl:text-white/60 xl:group-hover:text-white"></span>
                                    </div>
                                    <!-- Cấp 2 -->
                                    <div class="menu-collapse scrollbar flex w-full justify-center left-0 top-full xl:absolute xl:hidden xl:group-hover:flex">
                                        <div class="flex justify-between rounded-b-md bg-white w-full xl:text-neutral-1-900 xl:shadow-navmenu xl:w-fit">
                                            <ul class="menu-list_subitem flex flex-col w-full xl:flex-row xl:flex-wrap max-h-[352px] overflow-y-scroll">
                                                <li class="flex flex-col w-full border-b border-neutral-2-100 xl:border-0 xl:relative xl:p-4 xl:gap-4 xl:w-[240px]">
                                                    <div class="flex py-3 px-4 gap-6 w-full justify-between items-center xl:p-0 xl:items-start">
                                                        <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">Sản phẩm Cấp 2 Sản phẩm Cấp 2</a>
                                                        <span class="btn-sub-collapse twi-17-arrow-down-line text-neutral-1-500 text-xl leading-none w-fit xl:hidden"></span>
                                                    </div>
                                                    <!-- Cấp 3 -->
                                                    <ul class="sub-menu-collapse flex flex-col font-normal w-full xl:gap-4">
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm Cấp 3 Sản phẩm Cấp 3</a>
                                                        </li>
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm 1</a>
                                                        </li>
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm 2</a>
                                                        </li>
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm Cấp 3</a>
                                                        </li>
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm 1</a>
                                                        </li>
                                                        <li class="flex items-center py-3 px-8 xl:p-0">
                                                            <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">Sản phẩm 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="flex px-4 py-3 border-b border-neutral-2-100 xl:border-0 xl:p-4 xl:w-[240px]">
                                                    <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">Sản phẩm 2</a>
                                                </li>
                                                <li class="flex px-4 py-3 xl:p-4 xl:w-[240px]">
                                                    <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">Sản phẩm 3</a>
                                                </li>
                                                <li class="flex px-4 py-3 xl:p-4 xl:w-[240px]">
                                                    <a href="#" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">Sản phẩm 4</a>
                                                </li>
                                            </ul>
                                            <div class="hidden p-4 min-w-[280px] w-[22%] xl:flex">
                                                <div class="w-full relative pt-[111%]">
                                                    <img src="../img/blog/blog-1.png" class="image-custom object-cover rounded-lg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex"><a class="px-2 py-3.5 xl:hover:text-white xl:py-7 xl:px-6" href="blog.html">Bài viết</a></div>
                                <div class="flex"><a class="px-2 py-3.5 xl:hover:text-white xl:py-7 xl:px-6" href="contact.html">Liên hệ</a></div>
                            </div>
                            <div id="cart-header" class="flex items-center border-primary-4/20 h-fit xl:pl-4 xl:border-l">
                                <span class="twi-17-shopping-cart-fill text-white text-2xl leading-6"></span>
                            </div>
                            <button class="nav-toggler flex justify-end xl:hidden">
                                <i class="twi-17-menu-line-line text-2xl leading-none text-white transition-all duration-700"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
       </header>

        <main>
            <section>
                <div class="w-full mx-auto xl:max-w-7xl">
                    <div class="flex flex-col items-center justify-center text-center gap-3 mt-20 py-12 px-6 text-neutral-1-900 lg:px-2 2xl:px-0">
                        <div class="w-2/5">
                            <div class="relative pt-[64%] w-full">
                                <img class="image-custom object-cover rounded-tl-[20px] rounded-br-[20px]" src="../img/404.png">
                            </div>
                        </div>
                        <p class="text-display-6 font-semibold">Không tìm thấy trang “404”</p>
                        <p class="text-body-2">Trang bạn tìm kiếm không tồn tại.</p>
                        <div class="flex">
                            <a href="" class="text-white font-medium px-8 py-2 bg-primary-1 rounded-full text-body-1">Trang chủ</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <section class="border-t border-primary-1 bg-white">
                <div class="w-full mx-auto xl:max-w-7xl">
                    <div class="flex flex-col pt-10 px-4 gap-10 justify-between md:gap-20 md:flex-row md:px-6 md:pt-20 lg:px-2 xl:gap-40 2xl:px-0">
                        <div class="flex flex-col gap-4 md:w-1/2">
                            <div class="flex flex-col text-heading-4 font-semibold text-primary-1">
                                <p>
                                    CÔNG TY TNHH 
                                </p>
                                <p>
                                    HỮU CƠ THUẬN THIÊN
                                </p>
                            </div>
                            <div class="text-body-1 leading-6 text-neutral-1-600"><span class="font-medium text-neutral-1-900">Đại lý chính miền nam:</span> 536/3 Nguyễn Thị Đặng, Phường Hiệp Thành, Quận 12, TP.HCM</div>
                            <div class="text-body-1 leading-6 text-neutral-1-600"><span class="font-medium text-neutral-1-900">Số điện thoại liên hệ:</span> 0944 456 457 - 0945 456 457 - 0948 456 457 - 0859 456 457
                            -0772 456 457 0326 456 457 - 0385 456 457</div>
                        </div>
                        <div class="flex gap-10 md:gap-20 md:justify-between md:w-1/2 xl:gap-40">
                            <div class="flex flex-col w-1/2 gap-6 md:w-fit">
                                <div class="flex flex-col gap-1 w-fit">
                                    <p class="text-heading-4 font-semibold text-neutral-1-800">Liên kết</p>
                                    <div class="bg-primary-1 w-full h-[3px] rounded-full"></div>
                                </div>
                                <div class="flex flex-col text-body-1 font-medium text-neutral-1-900 gap-4">
                                    <div class="hover:opacity-90">
                                        <a href="index.html">
                                            Trang chủ
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="introduction.html">
                                            Giới thiệu
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="product.html">
                                            Sản phẩm
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="blog.html">
                                            Bài viết
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="contact.html">
                                            Liên hệ
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col font-medium gap-6 w-fit">
                                <div class="flex flex-col gap-1 w-fit">
                                    <p class="text-heading-4 font-semibold text-neutral-1-800">Liên hệ</p>
                                    <div class="bg-primary-1 w-full h-[3px] rounded-full"></div>
                                </div>
                                <div class="flex flex-col gap-6 lg:flex-row">
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center ">
                                            <i class="twi-17-facebook-fill text-[24px] text-white bg-info-500 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center ">
                                            <i class="twi-17-twitter-fill text-[24px] text-white bg-info-400 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center">
                                            <i class="twi-17-youtube-fill text-[24px] text-white bg-error-400 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="bg-primary-1 px-2 flex justify-center text-body-1 text-white mt-10 py-2.5 xl:mt-20">Copyright 2022 by T-web. All Rights Reserved.</div>
            </section>
        </footer> 
    </body>
</html> 
