<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="../img/header-footer/favicon.png" type="image/x-icon"/>
        <meta property="og:url"           content="https://1web.page/quyennguyen/blog/test-cong-nghe-t23.html" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Your Website Title" />
        <meta property="og:description"   content="Your description" />
        <meta property="og:image"         content="https://1web.page/quyennguyen/blog/test-cong-nghe-t23.html" />
        <title>Thuận Thiên - Bài viết chi tiết</title>
    </head>
    <body class="font-SVN w-screen overflow-x-hidden">
        <header>
            <section>
                <div class="bg-primary-1 fixed top-0 z-40 w-full">
                    <div class="w-full mx-auto xl:max-w-7xl">
                        <div class="flex justify-between items-center h-20 p-4 md:px-6 lg:px-2 2xl:px-0">
                            <div><a class="" href="index.html"><img class="w-[200px] h-12 object-contain" src="../img/header-footer/logo.png"></a></div>
                            <div class="list-items hidden text-body-1 text-white/60 fixed flex-col w-full h-screen z-20 bg-primary-1 top-20 left-0 xl:relative xl:gap-14 xl:h-fit xl:flex-row xl:top-0 xl:w-fit xl:flex">
                                <div class="flex text-left py-4 border-b border-neutral-3-400 border-solid xl:text-center xl:py-0 xl:border-none xl:justify-center xl:items-center"><a class="px-6 text-white xl:py-7 2xl:px-0" href="index.html">Trang chủ</a></div>
                                <div class="flex text-left py-4 border-b border-neutral-3-400 border-solid xl:text-center xl:py-0 xl:border-none xl:justify-center xl:items-center"><a class="px-6 xl:hover:text-white xl:py-7 2xl:px-0" href="introduction.html">Giới thiệu</a></div>
                                <div class="flex text-left py-4 border-b border-neutral-3-400 border-solid xl:text-center xl:py-0 xl:border-none xl:justify-center xl:items-center"><a class="px-6 xl:hover:text-white xl:py-7 2xl:px-0" href="product.html">Sản phẩm</a></div>
                                <div class="flex text-left py-4 border-b border-neutral-3-400 border-solid xl:text-center xl:py-0 xl:border-none xl:justify-center xl:items-center"><a class="px-6 xl:hover:text-white xl:py-7 2xl:px-0" href="blog.html">Bài viết</a></div>
                                <div class="flex text-left py-4 border-b border-neutral-3-400 border-solid xl:text-center xl:py-0 xl:border-none xl:justify-center xl:items-center"><a class="px-6 xl:hover:text-white xl:py-7 2xl:px-0" href="contact.html">Liên hệ</a></div>
                            </div> 
                            <button class="nav-toggler xl:hidden"><span></span></button>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <!-- Bài viết -->
            <section>
                <div class="bg-primary-4 mt-20 overflow-hidden">
                    <div class="mx-auto w-full xl:max-w-7xl animate-top">
                        <div class="flex flex-wrap max-w-full gap-4 py-5 text-body-1 px-4 md:px-6 lg:px-2 2xl:px-0">
                            <div class="w-fit border-r-2 border-neutral-1-500 text-neutral-1-900 pr-4"><a href="">Trang chủ</a></div>
                            <div class="w-fit border-r-2 border-primary-1 text-neutral-1-900 pr-4"><a href="">Bài viết</a></div>
                            <div class="text-secondary-1 font-medium line-clamp-1 max-w-[45%]"><a href="blog.html">4 NGUYÊN TÁC CƠ BẢN TRONG NÔNG NGHIỆP TÔN TRỌNG THIÊN NHIÊN</a></div>
                        </div>
                    </div>
                </div>

            </section>

            <section>
                <div class="mx-auto w-full relative xl:max-w-7xl">
                    <div class="flex flex-col gap-12 py-12 px-4 md:gap-20 md:px-6 md:py-20 lg:gap-8 lg:flex-row lg:px-2 lg:pb-[120px] 2xl:px-0 ">
                        
                        <div class="flex flex-col gap-6 w-full lg:w-2/3 animate-top" style="animation-delay: 200ms; animation-fill-mode: backwards;">
                            <div class="flex flex-col w-full gap-4">
                                <div class="w-full flex flex-col md:items-center gap-2 md:flex-row md:justify-between ">
                                    <div class="flex flex-auto gap-2 items-center text-primary-2 text-body-1 font-medium uppercase">
                                        <div class="tooltip">
                                            <div data-tooltip="TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nostrum" class="tooltip-post tooltip-post-small">
                                                <a href="category.html" class="line-clamp-1" >KIẾN THỨC Lorem KIẾN THỨC Lorem KIẾN THỨC Lorem</a>
                                            </div>
                                        </div>
                                        <p class="flex gap-2 items-center whitespace-nowrap">
                                            <span class="w-1 h-1 bg-primary-1 rounded-full"></span>
                                            <span>24 THG 3,2022</span>
                                        </p>
                                    </div>
                                    <div class="w-[104px]" data-href="https://1web.page/quyennguyen/blog/test-tin-tuc-2-t21.html" data-layout="button" data-size="large">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F1web.page%2Fquyennguyen%2Fblog%2Ftest-tin-tuc-2-t21.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore flex justify-center items-center gap-2 h-fit py-1 px-3 bg-info-400 rounded text-white w-fit">
                                            <i class="twi-17-facebook-fill text-base leading-none"></i>
                                            <p class="text-body-2 truncate">
                                                Chia sẻ
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <h2 class="text-neutral-1-700 font-semibold text-header-1 md:text-heading-4 lg:text-heading-2">
                                    4 NGUYÊN TÁC CƠ BẢN TRONG NÔNG NGHIỆP TÔN TRỌNG THIÊN NHIÊN
                                </h2>
                            </div>
                            <div class="flex flex-col w-full">
                                <div class="w-full relative pt-[83.76%] md:pt-[60.94%] lg:pt-[56.87%]">
                                    <img class="image-custom object-cover rounded-tl-[40px] rounded-br-[40px]" src="../img/blog/blog_detail-1.png">
                                </div>
                                <p class="text-body-1 text-neutral-1-900">Trong nhiều năm gần đây, việc thay đổi hướng canh tác nông nghiệp sang hướng tôn trọng thiên nhiên luôn được quan tâm và thực hiện. Bởi việc canh tác theo hướng này sẽ mang lại nhiều hiệu quả tích cực cho môi trường và tạo tính bền vững theo thời gian. Để đạt được mục tiêu và chất lượng trong việc canh tác tôn trọng thiên nhiên, người trồng cần áp dụng tốt 4 nguyên tắc cơ bản gồm:</p>
    
                                <div class="flex flex-col gap-4 text-body-1 text-neutral-1-900 ">
                                    <h4 class="text-secondary-1 font-semibold text-header-1 md:text-heading-4">1. Tính đa dạng </h4>
                                    <p>Rừng tự nhiên gần như không có vấn đề dịch bệnh nghiêm trọng. Nguyên nhân là do giống cây, động vật và vi sinh vật. Giả sử có khoảng 100 giống cây mọc trên một diện tích rừng tự nhiên, nhưng lại có rất ít giống trên mỗi đất nông nghiệp và chỉ có một giống cây trong nông nghiệp độc canh.</p>
                                    <p>Tính đa dạng đảm bảo cho sự cân bằng sinh thái (sự ổn định), còn độc canh là một hệ sinh thái bất ổn nhất và mẫn cảm đối với những hiện tượng như bùng nổ dịch bệnh.</p>
                                    <p>Bởi vậy, tăng cường tính đa dạng là một trong những điều quan trọng nhất của nông nghiệp tôn trọng thiên nhiên, nhằm đảm bảo tính ổn định của canh tác. Hơn nữa, tính đa dạng hóa nguồn thu nhập của nông trại còn giúp giảm nhẹ nguy cơ thất bát toàn bộ mùa màng. Những phương pháp canh tác đảm bảo tính đa dạng bao gồm:</p>
                                    <ul class="pl-4 text-lg font-semibold list-outside list-disc gap-6 flex justify-center flex-col">
                                        <li>Trồng các giống khác nhau.</li>
                                        <li>Lai tạo giống.</li>
                                        <li>Luân canh.</li>
                                        <li>Trồng cây lâu năm và cỏ ở khu vực giáp ranh.</li>
                                        <li>Bảo tồn các giống vật khác loài (gia súc, cá, ong).</li>
                                    </ul>
                                    <div class="pt-6 flex flex-col gap-6 md:flex-row lg:gap-[30px]">
                                        <div class="relative pt-[66%] w-full md:w-1/2 md:pt-[33.01%] xl:pt-[32.66%]"><img class="image-custom object-cover md:object-contain rounded-tl-[40px] rounded-br-[40px]" src="../img/blog/blog_detail-2.png"></div>
                                        <div class="relative pt-[66%] w-full md:w-1/2 md:pt-[33.01%] xl:pt-[32.66%]"><img class="image-custom object-cover md:object-contain rounded-tl-[40px] rounded-br-[40px]" src="../img/blog/blog_detail-3.png"></div>
                                    </div>
                                </div>
                                
                                <div class="flex flex-col gap-4 text-body-1 text-neutral-1-900 ">
                                    <h4 class="text-secondary-1 font-semibold text-header-1  ">2. Đất sống</h4>
                                    <p>Đất không chỉ có tính chất vật lý đỡ cho cây, giữ nước và chất dinh dưỡng mà còn là một vật thể sống. Trong canh tác theo phương thức nông nghiệp hóa học, người ta đã không nắm được ý nghĩa quan trọng này nên đã làm cho đất bị thoái hóa. Hiện tượng đó đã trở nên hết sức nghiêm trọng trong thực tiễn canh tác.</p>
                                    <p>Vấn đề không phải nảy sinh một cách tự nhiên mà là do con người gây ra, do người nông dân chưa quan tâm đủ nhiều đến đất trồng. Để phục hồi lại đất, chúng ta cần thay đổi quan niệm về đất, đó là một vật thể sống chứ không phải là vật thể chết.</p>
                                    <p>Đất sống tức là đất chứa vô vàn vi sinh vật. Hoạt động của vi sinh vật là yếu tố quyết định sức khỏe và độ phì nhiêu của đất. Như những vật thể sống, đất cũng cần được nuôi dưỡng và chăm sóc. Những điều kiện sau đây đảm bảo cho đất sống:</p>
                                    <ul class="text-lg font-semibold list-outside pl-4 list-disc gap-6 flex flex-col">
                                        <li>Bón đất thường xuyên bằng phân hữu cơ.</li>
                                        <li>Phủ đất để chống xói mòn.</li>
                                        <li>Luân canh.</li>
                                        <li>Khử những yếu tố gây hại như các hóa chất dùng trong nông nghiệp.</li>
                                    </ul>
                                    <div class="relative pt-[89%] md:pt-[43.25%] xl:pt-[43.17%] w-full"><img class="image-custom object-cover rounded-tl-[40px] rounded-br-[40px]" src="../img/blog/blog_detail-4.png"></div>
                                    
                                </div>
                                
                                <div class="flex flex-col gap-4 text-body-1 text-neutral-1-900">
                                    <h4 class="text-secondary-1 font-semibold text-header-1 md:text-heading-4">3. Thảm thực vật nhiều tầng</h4>
                                    <p>Nguyên nhân là thảm thực vật nhiều tầng của rừng có thể giúp sử dụng tối đa ánh sáng mặt trời và nước mưa. Cấu trúc đất nông nghiệp thường là nằm ngang nên không thể sử dụng đúng mức các tài nguyên này.</p>
                                    <p>Nếu ánh sáng mặt trời và nước mưa được tận dụng hợp lý cho đất nông nghiệp, chúng có thể đem lại nhiều lợi ích cho đất. Nếu không, chúng sẽ trở thành những nguyên nhân chính cho hạn hán và xói mòn đất.</p>
                                    <p>Nhiều nắng và mưa là đặc điểm của khí hậu nhiệt đới, do đó nông nghiệp nhiệt đới rất cần trong việc xây dựng cấu trúc đất nhiều tầng. Những điểm sau đây đảm bảo cấu trúc nhiều tầng trong một trang trại:</p>
                                    <ul class="text-lg font-semibold list-inside list-disc gap-6 flex flex-col">
                                        <li>Trồng nhiều loại cây lâu năm trên diện tích ranh giới và những cây ưa tối.</li>
                                        <li>Kết hợp tốt cây gỗ (lâu năm) và cây một năm.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="flex flex-col w-full gap-8 lg:w-1/3 lg:sticky lg:top-20 lg:h-full animate-top" style="animation-delay: 400ms; animation-fill-mode: backwards;">

                            <div class="flex h-fit w-full">
                                <input type="text" placeholder="Nhập từ khóa tìm kiếm" class="w-full px-6 py-4 border border-primary-1 focus:outline-0 text-body-2 placeholder:text-neutral-1-300 text-neutral-1-700 rounded-l-lg">
                                <button type="submit" class="flex items-center text-white bg-primary-1 p-3.5 rounded-r-lg">
                                  <i class="twi-17-search-line-line text-2xl leading-none"></i>
                                </button>
                            </div>
    
                            <div class="border border-primary-1 rounded-tl-[40px] rounded-br-[40px] overflow-hidden">
                                <div class="flex flex-col gap-[30px] text-primary-2 p-6 pb-5">     
                                    <h4 class="text-secondary-1 font-semibold text-heading-4  ">Danh mục bài viết</h4>
                                    <div class="flex items-center justify-between">
                                        <p class="flex text-lg font-semibold line-clamp-1 max-w-[50%] md:max-w-[70%] xl:max-w-[80%]"><a href="category.html">Kiến thức</a></p>
                                        <span class="w-12 h-[22px] bg-primary-4 flex justify-center items-center rounded-full text-body-2 leading-5">1</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <p class="flex text-lg font-semibold line-clamp-1 max-w-[50%] md:max-w-[70%] xl:max-w-[80%]"><a href="category.html">Kỹ Thuật</a></p>
                                        <span class="w-12 h-[22px] bg-primary-4 flex justify-center items-center rounded-full">1</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <p class="flex text-lg font-semibold line-clamp-1 max-w-[50%] md:max-w-[70%] xl:max-w-[80%]"><a href="category.html">Kiến thức</a></p>
                                        <span class="w-12 h-[22px] bg-primary-4 flex justify-center items-center rounded-full">1</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <p class="flex text-lg font-semibold line-clamp-1 max-w-[50%] md:max-w-[70%] xl:max-w-[80%]"><a href="category.html">Bài Viết</a></p>
                                        <span class="w-12 h-[22px] bg-primary-4 flex justify-center items-center rounded-full">10</span>
                                    </div>
                                </div>
                                <button class="w-full flex items-end justify-end">
                                    <a href="" class="py-6 bg-primary-1 hover:bg-primary-2 w-fit px-11 rounded-tl-[40px] flex items-center justify-center">
                                        <i class="twi-17-arrow-narrow-right-fill text-neutral-1-900 text-xl leading-none"></i>
                                    </a>
                                </button>
                            </div>
    
                            <div class="flex flex-col gap-[30px]">
                                <h4 class="text-heading-4 text-secondary-1 font-semibold">Bài viết mới</h4>

                                <div class="flex flex-col gap-8">

                                    <div class="flex gap-5">

                                        <div class="w-5/12 [52%] md:w-1/5 lg:w-[46%] xl:w-[37%]">
                                            <div class="relative w-full pt-[66.66%]">
                                                <a href="blog-detail.html"> 
                                                    <img class="image-custom object-cover rounded-[4px]" src="../img/introduction/intro-1.png">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="w-7/12 [40%] flex flex-col gap-2 md:w-4/5 lg:w-[48%] xl:w-[55%]">
                                            <div class="tooltip flex items-center text-base leading-5 font-medium gap-2 text-primary-2 uppercase">
                                                <p class="flex line-clamp-1 max-w-[38%] md:max-w-[76%] lg:max-w-[17%] xl:max-w-[45%]"><a href="category.html">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, tempora. In aperiam quasi quis, molestiae unde architecto culpa totam! Expedita repudiandae animi explicabo commodi? Quidem obcaecati illo vero rem quisquam!</a></p>
                                                <span class="tooltip-content">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nostrum reiciendis ratione quasi enim, aut, a perspiciatis, voluptas culpa aperiam ut. Est corporis delectus fuga cum consectetur voluptas similique quasi.</span>
                                                <span class="w-1 h-1 bg-primary-1 rounded-full"></span>
                                                <p>24 THG 3,2022</p>
                                            </div>
                                            <h4 class="text-neutral-1-700 font-semibold line-clamp-2 text-header-1 lg:text-title-1">
                                                <a href="blog-detail.html">Tầm quan trọng của amino axit Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus odio at ipsa molestias deserunt cumque ea adipisci dolores ducimus, veniam deleniti rem sapiente sed dicta qui illum accusantium facere asperiores.</a>
                                            </h4>
                                        </div>
                                        
                                    </div>

                                    <div class="flex gap-5">
                                        <div class="w-5/12 [52%] md:w-1/5 lg:w-[46%] xl:w-[37%]">
                                            <div class="relative w-full pt-[66.66%]">
                                                <a href="blog-detail.html"> 
                                                    <img class="image-custom object-cover rounded-[4px]" src="../img/introduction/intro-1.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="w-7/12 [40%] flex flex-col gap-2 md:w-4/5 lg:w-[48%] xl:w-[55%]">
                                            <div class="tooltip flex items-center text-base leading-5 font-medium gap-2 text-primary-2 uppercase">
                                                <p class="flex line-clamp-1 max-w-[38%] md:max-w-[76%] lg:max-w-[17%] xl:max-w-[45%]"><a href="category.html">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, tempora. In aperiam quasi quis, molestiae unde architecto culpa totam! Expedita repudiandae animi explicabo commodi? Quidem obcaecati illo vero rem quisquam!</a></p>
                                                <span class="tooltip-content">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nostrum reiciendis ratione quasi enim, aut, a perspiciatis, voluptas culpa aperiam ut. Est corporis delectus fuga cum consectetur voluptas similique quasi.</span>
                                                <span class="w-1 h-1 bg-primary-1 rounded-full"></span>
                                                <p>24 THG 3,2022</p>
                                            </div>
                                            <h4 class="text-neutral-1-700 font-semibold line-clamp-2 text-header-1 lg:text-title-1">
                                                <a href="blog-detail.html">Tầm quan trọng của amino axit Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus odio at ipsa molestias deserunt cumque ea adipisci dolores ducimus, veniam deleniti rem sapiente sed dicta qui illum accusantium facere asperiores.</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="flex gap-5">
                                        <div class="w-5/12 [52%] md:w-1/5 lg:w-[46%] xl:w-[37%]">
                                            <div class="relative w-full pt-[66.66%]">
                                                <a href="blog-detail.html"> 
                                                    <img class="image-custom object-cover rounded-[4px]" src="../img/introduction/intro-1.png">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="w-7/12 [40%] flex flex-col gap-2 md:w-4/5 lg:w-[48%] xl:w-[55%]">
                                            <div class="tooltip flex items-center text-base leading-5 font-medium gap-2 text-primary-2 uppercase">
                                                <p class="flex line-clamp-1 max-w-[38%] md:max-w-[76%] lg:max-w-[17%] xl:max-w-[45%]"><a href="category.html">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, tempora. In aperiam quasi quis, molestiae unde architecto culpa totam! Expedita repudiandae animi explicabo commodi? Quidem obcaecati illo vero rem quisquam!</a></p>
                                                <span class="tooltip-content">TIN TỨC Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nostrum reiciendis ratione quasi enim, aut, a perspiciatis, voluptas culpa aperiam ut. Est corporis delectus fuga cum consectetur voluptas similique quasi.</span>
                                                <span class="w-1 h-1 bg-primary-1 rounded-full"></span>
                                                <p>24 THG 3,2022</p>
                                            </div>
                                            <h4 class="text-neutral-1-700 font-semibold line-clamp-2 text-header-1 lg:text-title-1">
                                                <a href="blog-detail.html">Tầm quan trọng của amino axit Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus odio at ipsa molestias deserunt cumque ea adipisci dolores ducimus, veniam deleniti rem sapiente sed dicta qui illum accusantium facere asperiores.</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
 
        <footer>
            <section class="border-t border-primary-1 bg-white">
                <div class="w-full mx-auto xl:max-w-7xl">
                    <div class="flex flex-col pt-10 px-4 gap-10 justify-between md:gap-20 md:flex-row md:px-6 md:pt-20 lg:px-2 xl:gap-40 2xl:px-0">
                        <div class="flex flex-col gap-4 md:w-1/2">
                            <div class="flex flex-col text-heading-4 font-semibold text-primary-1">
                                CÔNG TY TNHH HỮU CƠ THUẬN THIÊN
                            </div>
                            <div class="text-body-1 leading-6 text-neutral-1-600"><span class="font-medium text-neutral-1-900">Đại lý chính miền nam:</span> 536/3 Nguyễn Thị Đặng, Phường Hiệp Thành, Quận 12, TP.HCM</div>
                            <div class="text-body-1 leading-6 text-neutral-1-600">
                                <span class="font-medium text-neutral-1-900">Số điện thoại liên hệ:</span>
                                <span class="line-clamp-4 lg:line-clamp-3 xl:line-clamp-2">0944 456 457 - 0945 456 457 - 0948 456 457 - 0859 456 457 - 0772 456 457 0326 456 457 - 0385 456 457</span>
                            </div>
                        </div>
                        <div class="flex gap-10 md:gap-20 md:justify-between md:w-1/2 xl:gap-40">
                            <div class="flex flex-col w-1/2 gap-6 md:w-fit">
                                <div class="flex flex-col gap-1 w-fit">
                                    <p class="text-heading-4 font-semibold text-neutral-1-800">Liên kết</p>
                                    <div class="bg-primary-1 w-full h-[3px] rounded-full"></div>
                                </div>
                                <div class="flex flex-col text-body-1 font-medium text-neutral-1-900 gap-4">
                                    <div class="hover:opacity-90">
                                        <a href="index.html">
                                            Trang chủ
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="introduction.html">
                                            Giới thiệu
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="product.html">
                                            Sản phẩm
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="blog.html">
                                            Bài viết
                                        </a>
                                    </div>
                                    <div class="hover:opacity-90">
                                        <a href="contact.html">
                                            Liên hệ
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col font-medium gap-6 w-fit">
                                <div class="flex flex-col gap-1 w-fit">
                                    <p class="text-heading-4 font-semibold text-neutral-1-800">Liên hệ</p>
                                    <div class="bg-primary-1 w-full h-[3px] rounded-full"></div>
                                </div>
                                <div class="flex flex-col gap-6 lg:flex-row">
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center ">
                                            <i class="twi-17-facebook-fill text-[24px] text-white bg-info-500 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center ">
                                            <i class="twi-17-twitter-fill text-[24px] text-white bg-info-400 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                    <div class="flex">
                                        <a href="#" class="flex w-fit justify-center items-center">
                                            <i class="twi-17-youtube-fill text-[24px] text-white bg-error-400 p-3.5 rounded-full hover:opacity-90"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="bg-primary-1 px-2 flex justify-center text-body-1 text-white mt-10 py-2.5 xl:mt-20">Copyright 2022 by T-web. All Rights Reserved.</div>
            </section>
        </footer> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="a9VPoIcd"></script>
    </body>
</html> 

