<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Bao Kim Services</title>
</head>
<body class="font-sans w-screen overflow-x-hidden">
    <header>
        <div class="fixed bg-white w-full top-0 z-30 shadow-dropdown">
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="flex items-center justify-between p-4 lg:px-2 lg:py-6 2xl:px-0">
                    <button class="btn-open-menu p-2 lg:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="flex justify-center grow text-primary-1 text-2xl font-bold uppercase lg:grow-0 lg:justify-start">
                        <a href="index.html">
                            BAOKIMSERVICES
                        </a>
                    </div>
                    <div class="overlay-menu z-40">
                        <div class="menu-header">
                            <div class="flex justify-between items-center lg:hidden">
                                <div class="flex text-primary-1 text-2xl font-bold uppercase">
                                    <a href="index.html">
                                        BAOKIMSERVICES
                                    </a>
                                </div>
                                <button class="flex text-xl btn-close-menu">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                            <ul class="flex flex-col gap-5 uppercase text-base text-neutral-1-300 font-semibold lg:flex-row">
                                <li class="text-primary-1">
                                    <a href="index.html">trang chủ</a>
                                </li>
                                <li class="transition-colors duration-300 hover:text-primary-1">
                                    <a href="introduction.html">giới thiệu</a>
                                </li>
                                <li class="transition-colors duration-300 hover:text-primary-1">
                                    <a href="product.html">sản phẩm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Banner -->
        <section>
            <div class="swiper swiperBanner group">
                <div class="swiper-wrapper h-screen">
                    <div class="swiper-slide bg-banner_cashew bg-no-repeat flex items-center xl:bg-cover xl:bg-center">
                        <div class="w-full mx-auto xl:max-w-7xl">
                            <div class="flex flex-col px-10 md:px-20 2xl:px-0">
                                <div class="flex flex-col fadeInUp">
                                    <div class="bg-primary-1 text-heading-4 font-medium py-2 px-4 rounded-md text-white w-fit shadow-dropdown">
                                        Hạt điều
                                    </div>
                                    <p class="text-white font-bold text-display-5 md:text-display-4 lg:text-display-3" style="text-shadow: 2px 6px 8px #292929;">
                                        Hương vị độc đáo
                                    </p>
                                    <p class="text-neutral-200 text-xl py-3" style="text-shadow: 2px 6px 8px #292929;">
                                        Giảm giá khi đặt mua ngay hôm nay
                                    </p>
                                    <div class="flex shadow-dropdown mt-3 rounded-full text-white bg-primary-1 w-fit h-fit text-header-1 font-semibold transition-colors duration-500 hover:bg-white hover:text-primary-1">
                                        <a href="tel:+84946317555" class="px-6 py-3">
                                            Mua ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide bg-banner_nest bg-no-repeat flex items-center xl:bg-cover xl:bg-center">
                        <div class="w-full mx-auto xl:max-w-7xl">
                            <div class="flex flex-col px-10 md:px-20 2xl:px-0">
                                <div class="flex flex-col fadeInUp">
                                    <div class="bg-secondary-1 text-heading-4 font-medium py-2 px-4 rounded-md text-white w-fit shadow-dropdown">
                                        Yến sào
                                    </div>
                                    <p class="text-primary-1 font-bold text-display-5 md:text-display-4 lg:text-display-3">
                                        Tinh túy từ thiên nhiên
                                    </p>
                                    <p class="text-neutral-1-700 text-xl py-3">
                                        Giảm giá khi đặt mua ngay hôm nay
                                    </p>
                                    <div class="flex shadow-dropdown mt-3 rounded-full text-white bg-secondary-1 w-fit h-fit text-header-1 font-semibold transition-colors duration-500 hover:bg-white hover:text-primary-1">
                                        <a href="tel:+84946317555" class="px-6 py-3">
                                            Mua ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next invisible opacity-0 transition-all duration-500 md:group-hover:opacity-100 md:group-hover:visible">
                    <div class="flex mr-8 w-fit h-fit shadow-2xl p-2 px-3 bg-primary-1 text-white rounded-full transition-colors duration-500 hover:bg-white hover:text-primary-1">
                        <i class="fa-solid fa-angle-right text-2xl leading-none"></i>
                    </div>
                </div>
                <div class="swiper-button-prev invisible opacity-0 transition-all duration-500 md:group-hover:opacity-100 md:group-hover:visible">
                    <div class="flex ml-8 w-fit h-fit shadow-2xl p-2 px-3 bg-primary-1 text-white rounded-full transition-colors duration-500 hover:bg-white hover:text-primary-1">
                        <i class="fa-solid fa-angle-left text-2xl leading-none"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- Introduction -->
        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="grid grid-cols-1 gap-4 pt-5 px-4 md:pt-8 md:grid-cols-2 lg:px-2 2xl:px-0">
                    <div class="overflow-hidden relative">
                        <div class="w-full transition-all duration-500 hover:scale-110">
                            <div class="w-full relative pt-[100%] xl:pt-[50%]">
                                <img loading="lazy" src="../image/product_cashew_1.jpg" class="image-custom object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute top-10 right-10 left-1/2 flex flex-col gap-2 xl:left-2/3">
                                <p class="text-primary-1 text-base font-medium lg:text-header-2">
                                    Hạt điều
                                </p>
                                <p class="text-neutral-1-900 text-heading-6 font-bold lg:text-heading-4">
                                    Chất lượng hàng đầu
                                </p>
                                <p>
                                    Tất cả sản phẩm đều được kiểm tra và đảm bảo sạch sẽ, ngon miệng và độc đáo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-hidden relative">
                        <div class="w-full transition-all duration-500 hover:scale-110">
                            <div class="w-full relative pt-[100%] xl:pt-[50%]">
                                <img loading="lazy" src="../image/banner_nest.jpg" class="image-custom object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute top-10 left-10 right-1/2 flex flex-col gap-2 xl:right-2/3">
                                <p class="text-primary-1 text-base font-medium lg:text-header-2">
                                    Yến sào
                                </p>
                                <p class="text-neutral-1-900 text-heading-6 font-bold lg:text-heading-4">
                                    Thực phẩm quý hiếm
                                </p>
                                <p>
                                    Yến sào được coi là một loại thực phẩm quý hiếm và có nhiều lợi ích sức khỏe.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-hidden relative">
                        <div class="w-full transition-all duration-500 hover:scale-110">
                            <div class="w-full relative pt-[100%] xl:pt-[50%]">
                                <img loading="lazy" src="../image/product_cashew_2.jpg" class="image-custom object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute top-10 left-10 right-1/2 flex flex-col gap-2 xl:right-2/3">
                                <p class="text-primary-1 text-base font-medium lg:text-header-2">
                                    Hạt điều
                                </p>
                                <p class="text-neutral-1-900 text-heading-6 font-bold lg:text-heading-4">
                                    Thực phẩm tự nhiên
                                </p>
                                <p>
                                   Sản phẩm tự nhiên, không chứa chất bảo quản hoặc hóa chất độc hại.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-hidden relative">
                        <div class="w-full transition-all duration-500 hover:scale-110">
                            <div class="w-full relative pt-[100%] xl:pt-[50%]">
                                <img loading="lazy" src="../image/product_nest_2.jpg" class="image-custom object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute top-10 right-10 left-1/2 flex flex-col gap-2 xl:left-2/3">
                                <p class="text-primary-1 text-base font-medium lg:text-header-2">
                                    Yến sào
                                </p>
                                <p class="text-neutral-1-900 text-heading-6 font-bold lg:text-heading-4">
                                    Sạch sẽ và an toàn 
                                </p>
                                <p>
                                    Sản phẩm của chúng tôi có đảm bảo về sạch sẽ và an toàn cho sức khỏe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Product -->
        <section>
            <div class="bg-background bg-no-repeat bg-center bg-cover w-full mt-20">
                <div class="bg-white/50">
                    <div class="w-full mx-auto xl:max-w-7xl">
                        <div class="flex flex-col items-center gap-4 py-10 px-4 lg:px-2 lg:gap-6 xl:py-14 2xl:px-0">
                            <p class="text-neutral-1-900 font-semibold text-heading-4 xl:text-heading-2">
                                Sản phẩm nổi bật
                            </p>
                            <div class="grid grid-cols-1 w-full gap-6 md:grid-cols-2 lg:grid-cols-4">
                                <div class="flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full border border-neutral-3-300 hover:shadow-dropdown transition-all duration-500 hover:scale-105">
                                    <div class="w-full relative pt-[100%]">
                                        <img loading="lazy" src="../image/cashew-product-2.jpg" class="image-custom object-cover rounded-t-xl" alt="">
                                    </div>
                                    <p class="text-neutral-1-900 font-medium text-xl">
                                        Điều rang muối
                                    </p>
                                </div>
                                <div class="flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full border border-neutral-3-300 hover:shadow-dropdown transition-all duration-500 hover:scale-105">
                                    <div class="w-full relative pt-[100%]">
                                        <img loading="lazy" src="../image/nest-product-3.jpg" class="image-custom object-cover rounded-t-xl" alt="">
                                    </div>
                                    <p class="text-neutral-1-900 font-medium text-xl">
                                        Yến Tinh
                                    </p>
                                </div>
                                <div class="flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full border border-neutral-3-300 hover:shadow-dropdown transition-all duration-500 hover:scale-105">
                                    <div class="w-full relative pt-[100%]">
                                        <img loading="lazy" src="../image/nest-product-10.jpg" class="image-custom object-cover rounded-t-xl" alt="">
                                    </div>
                                    <p class="text-neutral-1-900 font-medium text-xl">
                                        Yến Baby
                                    </p>
                                </div>
                                <div class="flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full border border-neutral-3-300 hover:shadow-dropdown transition-all duration-500 hover:scale-105">
                                    <div class="w-full relative pt-[100%]">
                                        <img loading="lazy" src="../image/nest-product-11.jpg" class="image-custom object-cover rounded-t-xl" alt="">
                                    </div>
                                    <p class="text-neutral-1-900 font-medium text-xl">
                                        Yến Chân
                                    </p>
                                </div>
                            </div>

                            <button class="hover-effect-container flex text-body-1 font-medium pt-4">
                                <a href="product.html" class="hover-effect">Tìm hiểu thêm</a>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="flex flex-col gap-5 pt-10 px-4 lg:px-2 xl:flex-row 2xl:px-0">
                    <div class="w-full xl:w-1/2">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe src="https://maps.google.com/maps?q=s%E1%BB%91%2011%20ng%C3%B5%20143%20trung%20k%C3%ADnh,%20ph%C6%B0%E1%BB%9Dng%20trung%20h%C3%B2a,%20qu%E1%BA%ADn%20c%E1%BA%A7u%20gi%E1%BA%A5y,%20h%C3%A0%20n%E1%BB%99i&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 100%; height: 400px;"></iframe>
                                <style>.mapouter{position:relative;height:400px;width:100%;background:#fff;}</style>
                                <a href="https://blooketjoin.org" style="color:#fff !important; position:absolute !important; top:0 !important; z-index:0 !important;">blooket join</a>
                                <style>.gmap_canvas{overflow:hidden;height:400px;width:100%}.gmap_canvas iframe{position:relative;z-index:2}</style>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center gap-4 text-neutral-1-900">
                        <p class="text-heading-3 font-semibold">
                            Hãy liên hệ với chúng tôi
                        </p>
                        <div class="flex items-center gap-3">
                            <i class="fa-solid fa-location-dot text-info-500"></i>
                            <p>
                                Số nhà 11 ngõ 143 Trung Kính, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội
                            </p>
                        </div>
                        <div class="flex items-center gap-3">
                            <i class="fa-solid fa-phone text-info-500"></i>
                            <p>
                                0946 317 555
                            </p>
                        </div>
                        <ul class="flex flex-col gap-3 list-disc list-inside">
                            <li>
                                Giao hàng tận nơi: Chúng tôi sẽ giao sản phẩm đến tận cửa nhà bạn, đảm bảo tính tiện lợi và an toàn.
                            </li>
                            <li>
                                Tư vấn chuyên nghiệp: Đội ngũ tư vấn của chúng tôi sẽ giúp bạn chọn lựa sản phẩm phù hợp với nhu cầu và sở thích của bạn.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="bg-bg-footer bg-no-repeat bg-center bg-cover w-full mt-20">
                <div class="bg-white/70">
                    <div class="w-full mx-auto xl:max-w-7xl">
                        <div class="grid grid-cols-1 gap-5 py-10 px-4 lg:px-2 xl:py-20 xl:grid-cols-3 2xl:px-0">
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-1 text-2xl font-bold uppercase">
                                    <a href="index.html">
                                        BAOKIMSERVICES
                                    </a>
                                </div>
                                <p class="uppercase text-heading-5 font-semibold">
                                    Công ty TNHH kinh doanh thương mại dịch vụ BẢo Kim
                                </p>
                                <div class="flex items-center gap-3">
                                    <i class="fa-solid fa-location-dot text-info-500"></i>
                                    <p>
                                        Số nhà 11 ngõ 143 Trung Kính, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội
                                    </p>
                                </div>
                                <div class="flex items-center gap-3">
                                    <i class="fa-solid fa-phone text-info-500"></i>
                                    <p>
                                        0946 317 555
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 xl:items-center">
                                <ul class="flex flex-col gap-5 uppercase text-base text-neutral-1-900 font-semibold">
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="index.html">trang chủ</a>
                                    </li>
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="introduction.html">giới thiệu</a>
                                    </li>
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="product.html">sản phẩm</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61553450184116" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=61553450184116" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61553450184116">Bảo Kim</a></blockquote></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="btn-scrollTop fixed hidden z-10 bottom-5 right-7">
                <button class="flex w-9 h-9 justify-center text-black/70 border border-black/70 rounded-full p-2.5 shadow-dropdown">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="fixed z-10 bottom-5 left-7 lg:hidden">
                <div class="flex flex-col gap-3">
                    <button class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-info-400 px-2.5 py-1.5 rounded-full shadow-dropdown">
                        <a href="https://zalo.me/+84946317555">
                            <i class="fa-solid fa-phone"></i>
                            <span>Liên hệ Zalo</span>
                        </a>
                    </button>
                    <button class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-primary-1 px-2.5 py-1.5 rounded-full shadow-dropdown">
                        <a href="tel:+84946317555">
                            <i class="fa-solid fa-phone"></i>
                            <span>Hotline: 0946 317 555</span>
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>
        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="reQZlM6O"></script>

<script>
    var swiper = new Swiper(".swiperBanner", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
</script>
</html>