<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bao Kim Services - Giới thiệu</title>
</head>
<body class="font-sans w-screen overflow-x-hidden">
    <header>
        <div class="fixed bg-white w-full top-0 z-30 shadow-dropdown">
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="flex items-center justify-between p-4 lg:px-2 lg:py-6 2xl:px-0">
                    <button class="btn-open-menu p-2 lg:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="flex justify-center grow text-primary-1 text-2xl font-bold uppercase lg:grow-0 lg:justify-start">
                        <a href="index.html">
                            BAOKIMSERVICES
                        </a>
                    </div>
                    <div class="overlay-menu z-40">
                        <div class="menu-header">
                            <div class="flex justify-between items-center lg:hidden">
                                <div class="flex text-primary-1 text-2xl font-bold uppercase">
                                    <a href="index.html">
                                        BAOKIMSERVICES
                                    </a>
                                </div>
                                <button class="flex text-xl btn-close-menu">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                            <ul class="flex flex-col gap-5 uppercase text-base text-neutral-1-300 font-semibold lg:flex-row">
                                <li class="transition-colors duration-300 hover:text-primary-1">
                                    <a href="index.html">trang chủ</a>
                                </li>
                                <li class="text-primary-1">
                                    <a href="introduction.html">giới thiệu</a>
                                </li>
                                <li class="transition-colors duration-300 hover:text-primary-1">
                                    <a href="product.html">sản phẩm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="bg-background-breadcrumb bg-no-repeat bg-cover bg-center mt-[72px] lg:mt-[104px]">
                <div class="flex flex-col gap-4 items-center text-white/90 text-center bg-black/60 py-20">
                    <p class="uppercase text-heading-2 font-semibold">
                        giới thiệu
                    </p>
                    <div class="flex gap-2 items-center text-header-1">
                        <div class="flex">
                            <a href="index.html">
                                Trang chủ
                            </a>
                        </div>
                        <span>/</span>
                        <p class="text-primary-1 font-semibold">Giới thiệu</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="flex flex-col items-center gap-10 py-10 px-4 lg:px-2 xl:py-20 2xl:px-0">
                    <div class="flex flex-col gap-5 items-center text-center text-neutral-1-900">
                        <p class="uppercase font-semibold text-heading-3 xl:text-heading-1">
                            điều & yến
                        </p>
                        <p class="text-body-2 lg:max-w-[60%] xl:text-header-1">
                            Chào mừng bạn đến với trang web bán điều rang muối và yến sào của chúng tôi! Chúng tôi tự hào mang đến cho bạn những sản phẩm tinh túy từ thiên nhiên, là sự kết hợp hoàn hảo giữa hương vị độc đáo và lợi ích sức khỏe.
                        </p>
                    </div>
                    <div class="grid grid-cols-1 gap-6 text-neutral-1-900 lg:grid-cols-3">
                        <div class="flex justify-center text-center p-4">
                            <div class="flex flex-col gap-3 items-center w-4/5">
                                <div class="relative w-full pt-[40%]">
                                    <img loading="lazy" src="../image/cashew-intro.jpg" class="image-custom object-contain" alt="">
                                </div>
                                <p class="text-header-1 font-semibold">
                                    Tự nhiên
                                </p>
                                <p class="text-base">
                                    Chúng tôi sử dụng điều tươi ngon và muối biển tự nhiên, không chứa chất bảo quản hoặc hóa chất độc hại.
                                </p>
                            </div>
                        </div>
                        <div class="hidden row-span-2 lg:flex">
                            <div class="relative w-full pt-[50%]">
                                <img loading="lazy" src="../image/intro-bg.jpg" class="image-custom object-contain" alt="">
                            </div>
                        </div>
                        <div class="flex justify-center text-center p-4">
                            <div class="flex flex-col gap-3 items-center w-4/5">
                                <div class="relative w-full pt-[40%]">
                                    <img loading="lazy" src="../image/cashew-intro2.jpg" class="image-custom object-contain" alt="">
                                </div>
                                <p class="text-header-1 font-semibold">
                                    Hương vị
                                </p>
                                <p class="text-base">
                                    Hương vị độc đáo và thơm ngon. Sản phẩm của chúng tôi có hương vị đặc biệt, được rang và muối tỉ mỉ để tạo nên hương vị thơm ngon và độc đáo.
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-center text-center p-4">
                            <div class="flex flex-col gap-3 items-center w-4/5">
                                <div class="relative w-full pt-[40%]">
                                    <img loading="lazy" src="../image/nest-intro1.jpg" class="image-custom object-contain" alt="">
                                </div>
                                <p class="text-header-1 font-semibold">
                                    Dinh dưỡng
                                </p>
                                <p class="text-base">
                                    Giúp cung cấp nhiều dưỡng chất quý giá cho cơ thể. Yến sào được thu thập từ nguồn nguyên liệu tự nhiên và xử lý với công nghệ hiện đại.
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-center text-center p-4">
                            <div class="flex flex-col gap-3 items-center w-4/5">
                                <div class="relative w-full pt-[40%]">
                                    <img loading="lazy" src="../image/nest-intro2.jpg" class="image-custom object-contain" alt="">
                                </div>
                                <p class="text-header-1 font-semibold">
                                    Sức khỏe
                                </p>
                                <p class="text-base">
                                    Tạo sự bổ sung cho chế độ ăn uống hàng ngày của bạn. Sản phẩm yến sào là nguồn thực phẩm quý hiếm với nhiều lợi ích sức khỏe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="bg-bg-footer bg-no-repeat bg-center bg-cover w-full mt-20">
                <div class="bg-white/70">
                    <div class="w-full mx-auto xl:max-w-7xl">
                        <div class="grid grid-cols-1 gap-5 py-10 px-4 lg:px-2 xl:py-20 xl:grid-cols-3 2xl:px-0">
                            <div class="flex flex-col gap-4">
                                <div class="text-primary-1 text-2xl font-bold uppercase">
                                    <a href="index.html">
                                        BAOKIMSERVICES
                                    </a>
                                </div>
                                <p class="uppercase text-heading-5 font-semibold">
                                    Công ty TNHH kinh doanh thương mại dịch vụ BẢo Kim
                                </p>
                                <div class="flex items-center gap-3">
                                    <i class="fa-solid fa-location-dot text-info-500"></i>
                                    <p>
                                        Số nhà 11 ngõ 143 Trung Kính, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội
                                    </p>
                                </div>
                                <div class="flex items-center gap-3">
                                    <i class="fa-solid fa-phone text-info-500"></i>
                                    <p>
                                        0946 317 555
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 xl:items-center">
                                <ul class="flex flex-col gap-5 uppercase text-base text-neutral-1-900 font-semibold">
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="index.html">trang chủ</a>
                                    </li>
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="introduction.html">giới thiệu</a>
                                    </li>
                                    <li class="transition-colors duration-300 hover:text-primary-1">
                                        <a href="product.html">sản phẩm</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61553450184116" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=61553450184116" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61553450184116">Bảo Kim</a></blockquote></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="btn-scrollTop fixed hidden z-10 bottom-5 right-7">
                <button class="flex w-9 h-9 justify-center text-black/70 border border-black/70 rounded-full p-2.5 shadow-dropdown">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="fixed z-10 bottom-5 left-7 lg:hidden">
                <div class="flex flex-col gap-3">
                    <button class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-info-400 px-2.5 py-1.5 rounded-full shadow-dropdown">
                        <a href="https://zalo.me/+84946317555">
                            <i class="fa-solid fa-phone"></i>
                            <span>Liên hệ Zalo</span>
                        </a>
                    </button>
                    <button class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-primary-1 px-2.5 py-1.5 rounded-full shadow-dropdown">
                        <a href="tel:+84946317555">
                            <i class="fa-solid fa-phone"></i>
                            <span>Hotline: 0946 317 555</span>
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>
        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
    </footer>
</body>
</html>