@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 100;
    src: local('SVN Thin'), url('SVN-Avenir\ Next\ Thin.ttf') format("truetype"), url('SVN-Avenir\ Next\ Thin.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 100;
    src: local('SVN Thin Italic'), url('SVN-Avenir\ Next\ Thin\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Thin\ Italic.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 200;
    src: local('SVN X Light'),  url('SVN-Avenir\ Next\ XLight.ttf') format("truetype"), url('SVN-Avenir\ Next\ XLight.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 200;
    src: local('SVN X Light Italic'), url('SVN-Avenir\ Next\ XLight\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ XLight\ Italic.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 300;
    src: local('SVN Light'), url('SVN-Avenir\ Next\ Light.ttf') format("truetype"), url('SVN-Avenir\ Next\ Light.otf') format("opentype");

}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 300;
    src: local('SVN Light Italic'),  url('SVN-Avenir\ Next\ Light\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Light\ Italic.otf') format("opentype");

}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 400;
    src: local('SVN Regular'),  url('SVN-Avenir\ Next\ Regular.ttf') format("truetype"), url('SVN-Avenir\ Next\ Regular.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 400;
    src: local('SVN Regular'),  url('SVN-Avenir\ Next\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Italic.otf') format("opentype");
}


@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 500;
    src: local('SVN Medium'),  url('SVN-Avenir\ Next\ Medium.ttf') format("truetype"), url('SVN-Avenir\ Next\ Medium.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 500;
    src: local('SVN Medium Italic'),  url('SVN-Avenir\ Next\ Medium\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Medium\ Italic.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 600;
    src: local('SVN DemiBold'),  url('SVN-Avenir\ Next\ DemiBold.ttf') format("truetype"), url('SVN-Avenir\ Next\ DemiBold.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 600;
    src: local('SVN DemiBold Italic'),  url('SVN-Avenir\ Next\ DemiBold\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ DemiBold\ Italic.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 700;
    src: local('SVN Bold'),  url('SVN-Avenir\ Next\ Bold.ttf') format("truetype"), url('SVN-Avenir\ Next\ Bold.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 700;
    src: local('SVN Bold Italic'),  url('SVN-Avenir\ Next\ Bold\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Bold\ Italic.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: normal;
    font-weight: 900;
    src: local('SVN ExtraBold'),  url('SVN-Avenir\ Next\ Heavy.ttf') format("truetype"), url('SVN-Avenir\ Next\ Heavy.otf') format("opentype");
}

@font-face {
    font-family: 'SVN';
    font-style: italic;
    font-weight: 900;
    src: local('SVN ExtraBold Italic'),  url('SVN-Avenir\ Next\ Heavy\ Italic.ttf') format("truetype"), url('SVN-Avenir\ Next\ Heavy\ Italic.otf') format("opentype");
}