@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/animation.scss';

.overlay-menu{
    @apply opacity-0 -z-10 w-0 overflow-x-hidden bg-black/80 fixed h-full top-0 left-0 lg:z-0 lg:w-fit lg:bg-white lg:opacity-100 lg:static;
    transition: opacity .3s linear .2s, width .1s linear .5s;
    &.active{
        @apply opacity-100 z-50 w-full;
        transition: opacity .3s linear;
    }
    .menu-header{
        @apply -left-full relative top-0 flex flex-col gap-12 bg-white h-full p-4 w-3/4 lg:left-0 lg:w-fit lg:h-fit;
        transition: left .3s linear ;
        &.active{
            @apply left-0;
            transition: left .3s linear;
        }
    }
}

.image-custom {
    @apply top-0 left-0 absolute w-full h-full;
}

.swiper-button-next, .swiper-button-prev {
    &::after {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}