#searchOrder{
	.order-tracking{
		@apply w-full relative flex md:justify-between;
		&>div{
			@apply w-fit flex gap-3.5 md:flex-col ;
		}
		&:first-child{
			@apply w-full flex justify-start;
		}
		&:last-child{
			@apply w-fit flex md:justify-end;
		}
		& > .line{
			@apply -z-0 w-[1px] h-[66px] bg-neutral-2-200 top-10 left-5 absolute md:left-10 md:top-5 md:w-full md:h-[1px];
			content: '';
			&.line-green{
				@apply bg-primary-1;
					content: '';	
			}
			&.line-red{
				@apply bg-error-400;
					content: '';
					
			}
		}
		.dot {
			@apply z-10 overflow-hidden relative rounded-full w-10 h-10 border bg-white flex items-center justify-center;
			&.completed {
				@apply bg-primary-1 border-primary-1 relative flex items-center justify-center;
				&::before{
					@apply absolute text-[24px] text-white ;
					font-family: "TwebIcons-17";
					content: "\e914";
				}
				
			}
			&.cancel {
				@apply bg-error-400 border-error-400 relative flex items-center justify-center;
				&::before{
					@apply absolute text-[24px] text-white ;
					font-family: "TwebIcons-17";
					content: "\e906";
				}
			}
		}
		
		
	}	

}
.message-error.error{
	@apply block;
}

.status-Yellow{
	@apply bg-[#E99208] ;
}
.status-blue{
	@apply bg-[#006EEF] ;
}
.status-green{
	@apply bg-[#008E39] ;
}
.status-red{
	@apply bg-[#DA072D] ;
}
