.dropdown {
  &.active-dropdown &-panel{
      display: flex;
  }
}

.icon-selected {
  &::after {
    font-family: 'TwebIcons-17';
    content: '\e914';
    @apply text-2xl leading-none text-secondary-1;
  }
}
